In [1]:
#importing the required libraries
from bs4 import BeautifulSoup 
import requests 
import pandas as pd

In [3]:
base_url = "https://www.skysports.com/premier-league-table"
#getting the contents of the web page
r = requests.get(base_url)

In [6]:
# Creating BeautifulSoup object
soup = BeautifulSoup(r.text,'html.parser')
#the below two comments are used to verify the tables and their classes
#for table in soup.find_all('table'):
#    print(table.get('class')
tables = soup.find_all('table')
table = soup.find('table', class_='standing-table__table callfn')

In [15]:
#creating a dataframe
df = pd.DataFrame(columns = ['Position','Team','GP','W','D','L','F','A','GD','P'])
# Collecting Ddata
for row in table.tbody.find_all('tr'):    
    data = row.find_all('td')
    Position = data[0].text.strip()
    Team = data[1].text.strip()
    GP = data[2].text.strip()
    W = data[3].text.strip()
    D = data[4].text.strip()
    L = data[5].text.strip()
    F = data[6].text.strip()
    A = data[7].text.strip()
    GD = data[8].text.strip()
    P = data[9].text.strip()
    df = df.append({'Position':Position,'Team':Team,'GP':GP,'W':W,'D':D,'L':L,'F':F,'A':A,'GD':GD,'P':P},ignore_index=True)

In [19]:
#checking the first few entries of the data set
df.head()

  Position               Team  GP   W  D   L   F   A  GD   P
0        1    Manchester City  33  25  5   3  80  21  59  80
1        2          Liverpool  33  24  7   2  85  22  63  79
2        3            Chelsea  32  19  8   5  67  27  40  65
3        4            Arsenal  33  19  3  11  52  40  12  60
4        5  Tottenham Hotspur  33  18  4  11  56  38  18  58

In [18]:
from google.colab import drive
drive.mount('drive')
#converting the dataframe to csv and saving it on google drive
df.to_csv('/content/drive/My Drive/pl_data.csv', encoding='utf-8', index=False)

Mounted at drive